@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&family=Mohave&family=Saira+Condensed&family=Zilla+Slab&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h2, h4,  h5, h6 {
    font-family: 'Frank Ruhl Libre', serif;
  }

  header, p{
    font-family: 'Mohave', sans-serif;
  }

  h1, h3, a, button, span{
    font-family: 'Saira Condensed', sans-serif;
  }

  .flexBox {
    @apply flex items-center justify-between;
  }
  .flexCol {
    @apply flex items-center flex-col gap-y-6;
  }
  .flexRow {
    @apply flex items-center gap-x-6;
  }
  .primaryBtn {
    @apply border rounded-lg py-2 px-4;
  }
}


.bounce{
    animation: movement 3s infinite 1s ease-in-out;
}
@keyframes movement{
    0%{
        transform: translateY(0);
    }
    60%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(15px);
    }
}



