@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Nanum+Gothic+Coding&family=PT+Serif&family=Playfair+Display&family=Slabo+27px&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2,
  h4,
  h5,
  h6 {
    font-family: "Slabo 27px", serif;
  }

  header,
  p,
  span,
  a,
  button,
  li {
    font-family: "PT Serif", serif;
  }

  h1,
  h3 {
    font-family: "Playfair Display", serif;
  }

  .flexBox {
    @apply flex items-center justify-between;
  }
  .flexCol {
    @apply flex items-center flex-col gap-y-6;
  }
  .flexRow {
    @apply flex items-center gap-x-6;
  }
  .primaryBtn {
    @apply border rounded-lg py-2 px-4;
  }
}



.bounce {
  animation: movement 3s infinite 1s ease-in-out;
}
@keyframes movement {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(15px);
  }
}
